/* Reset CSS */

* {
    margin: 0;
    paddinh: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

header {
    background-color: chartreuse;
}

header,
section {
    padding: 5rem;
}

main {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1rem;
}

.video-player {
    background-color: blue;
}

.video-info {
    background-color: yellow;
}

.actions {
    background-color: green;
}

.channel {
    background-color: coral;
}

.subscribe {
    background-color: red;
}

.ad {
    background-color: black;
}

.up-next {
    background-color: pink;
}